body {
	font-family: "Raleway", sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #ffffff;
}

/*menu lateral*/
aside {
	max-width: 30%;
	background: #ee9b00;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding: 20px 15px;
}
nav { 
position: relative;
display: inline-block;
}
aside p {
	padding-bottom: 15px;
}

aside a {
	text-decoration: none;
	color: #001219;
}

aside a:hover {
	color: #005f73;
	cursor: pointer;
	font-weight: bolder;
}

aside ul {
	padding-left: 0px;
	list-style-type: none;
	line-height: 2;
}

.subnav-content {
	display: none;
	position: absolute;
}

aside ul:hover .subnav-content {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	font-size: smaller;
}

.navIcon{
	display:block;
}

/*área principal*/
main {
	margin-left: 50px;
	padding-left: 110px;
	padding: 50px 20px 50px 130px;
	background-color: #fffefe;
}

/*estilo das seções/sections*/
section {
	margin-bottom: 70px;
}

/*estilo do form*/
fieldset{
	border: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.sectionMatricula form {
	display: flex;
	flex-direction: column;
}
.sectionMatricula label {
	margin-bottom: 5px;
}

select {
	border: none;
	border-bottom: 1px solid #005f73;
	margin-bottom: 15px;
}

button {
	color: #fffefe;
	width: 100%;
	margin-top: 15px;
	border-radius: 3px;
	background-color: #001219;
	border: none;
	font-weight: 600;
	padding: 5px;
}

button:hover {
	color: #fffefe;
	background-color: black;
	cursor: pointer;

}

/*estilo aplicado em cada card*/
.cardsGlass {
	background-color: #ffffff;
	box-shadow: 0 20px 51px 0 rgba(97, 98, 108, 0.15);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.057);
	border-radius: 10px;
	margin: 0 auto;
	padding:20px;
	margin-bottom: 25px;
	max-width: 850px;
}

.cardFull{
	max-width:960px;
}

h3 {
	font-size: larger;
	margin-bottom: 35px;
}

h4 {
	text-decoration: underline;
}

.containerGrid2 {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-items: center;
	justify-content: center;
}

.titleGrid {
	font-weight: bolder;
	background-color: #dbe9e4;
	padding: 15px 5px;
	border-radius: 10px;
	font-weight: bold;
}

.containerGrid2 p, .containerGrid5 p {
	margin: 5px 10px;
	letter-spacing: 0.4px;
}


.flexCard {
	display: flex;
	margin: 0 auto;
}

.containerGrid5{
	display: grid;
	grid-template-columns: auto auto auto  auto auto;
	align-items: center;
	justify-items: center;
	justify-content: center;
}


/*media query: responsividade*/
@media screen and (max-width:1024px){
	/*menu lateral*/
	aside{
		width: 15px;
	}

	ul, nav p { 
		display:none;
	}

	.navIcon{
		transform: translateY(75vh);
	}

	/*Seção principal*/
	main{
	padding: 12px;
	margin-left: 50px;
	}
	/*Cards*/
	.flexCard{
		flex-direction: column;
	}

	h4,
	label,
	.titleGrid,
	.descriptionOpt,
	.containerGrid2 p,
	.containerGrid5 p {
		font-size:smaller;
	}

	.cardFull{
		max-width:359px;
	}

	.containerGrid5 {
		overflow-x: auto;
		justify-content: normal;
	}
}