
/*estilo do conteudo e forum */
ul {
	list-style-type: none;
	padding: 0;
}
.disciplinaTitulo {
	font-size: 16px;

	background-color: #dbe9e4;
	padding: 15px 8px;
	border-radius: 10px;
}

.infodisciplina {
	padding-left: 0px;
	line-height: 2;
}

.forumSection a,
.forumSection p,
.sectionConteudo a {
	text-decoration: none;
	color: #001219;
}

.forumSection span {
	font-size: 12px;
}

.infodisciplina {
	margin-left: 15px;
	display: flex;
	flex-direction: column;
}

.infodisciplina:hover {
	color: #003c4a;
	max-width: fit-content;
	cursor: pointer;
}

/*estilo do form*/
fieldset {
	border: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.sectionMatricula form {
	display: flex;
	flex-direction: column;
}
.sectionMatricula label {
	margin-bottom: 5px;
}
.sectionMatricula select {
	margin-bottom: 15px;
}

.errorMsg {
	color: rgb(158, 0, 0);
	margin-top: 10px;
	font-size: smaller;
	display: none;
}



.resultadoNota p{
	margin:0;
}
