html {
	scroll-behavior: smooth;
}

body {
	font-family: "Raleway", sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #ffffff;
}



/*área principal*/
main {
	margin-left: 50px;
	padding-left: 110px;
	padding: 50px 20px 50px 130px;
	background-color: #fffefe;
}

/*estilo das seções/sections*/
section {
	margin-bottom: 70px;
}

/*estilo do conteudo e forum */
ul {
	list-style-type: none;
	padding: 0;
}
.disciplinaTitulo {
	font-size: 16px;

	background-color: #dbe9e4;
	padding: 15px 8px;
	border-radius: 10px;
}

.infodisciplina {
	padding-left: 0px;
	line-height: 2;
}

.forumSection a,
.forumSection p,
.sectionConteudo a {
	text-decoration: none;
	color: #001219;
}

.forumSection span {
	font-size: 12px;
}

.infodisciplina {
	margin-left: 15px;
	display: flex;
	flex-direction: column;
}

.infodisciplina:hover {
	color: #003c4a;
	max-width: fit-content;
	cursor: pointer;
}

/*estilo do form*/
fieldset {
	border: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.sectionMatricula form {
	display: flex;
	flex-direction: column;
}
.sectionMatricula label {
	margin-bottom: 5px;
}
.sectionMatricula select {
	margin-bottom: 15px;
}

select {
	border: none;
	border-bottom: 1px solid #005f73;
	margin-bottom: 15px;
}

button {
	color: #fffefe;
	width: 100%;
	margin-top: 15px;
	border-radius: 3px;
	background-color: #001219;
	border: none;
	font-weight: 600;
	padding: 10px;
	margin-top: 40px;
}

button:hover {
	color: #fffefe;
	background-color: black;
	cursor: pointer;
}

.errorMsg {
	color: rgb(158, 0, 0);
	margin-top: 10px;
	font-size: smaller;
	display: none;
}


/*modal*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fae8c4;
	border-radius: 5px;
	margin: 0 auto 0 190px;
	padding: 20px;
	width: 80%;
}

.close {
	color: #001219;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #005f73;
	text-decoration: none;
	cursor: pointer;
}

/*estilo aplicado em cada card*/
.cardsGlass {
	background-color: #ffffff;
	box-shadow: 0 20px 51px 0 rgba(97, 98, 108, 0.15);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.057);
	border-radius: 10px;
	margin: 0 auto;
	padding: 20px;
	margin-bottom: 25px;
	max-width: 850px;
}

.cardFull {
	max-width: 960px;
}

h3 {
	font-size: larger;
	margin-bottom: 35px;
}

h4 {
	text-decoration: underline;
}

.containerGrid2 {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-items: center;
	justify-content: center;
}
.containerGrid3 {
	display: grid;
	grid-template-columns: auto auto auto;
	align-items: center;
	justify-items: center;
	justify-content: space-evenly;

}

.titleGrid, .titleList {
	background-color: #dbe9e4;
	padding: 15px 5px;
	border-radius: 10px;
	font-weight: bold;
}

.containerGrid2 p,
.containerGrid3 p,
.containerGrid5 p {
	margin: 5px 10px;
	letter-spacing: 0.4px;
}

.flexCard {
	display: flex;
	margin: 0 auto;
}

.containerGrid5 {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	align-items: center;
	justify-items: center;
	justify-content: center;
}

.h1-centralizado {
	text-align: center;
}

.resultadoNota p{
	margin:0;
}

.turma1-presenca, 
.turma2-presenca, 
.turma1-nota, 
.turma2-nota{
	margin-top: 15px;
	width: 75%;
	margin: 10px auto 25px;
	display: none;
}

.turma1-presenca div, 
.turma2-presenca div, 
.turma1-nota div,
 .turma2-nota div{
	display: flex;
	justify-content: space-between;
}

ul .titleList{
	margin-bottom: 10px;
}

ul .titleList:hover {
	cursor: pointer;
	text-decoration: underline;
}

.errorMsg {
	color: rgb(158, 0, 0);
	margin-top: 10px;
	font-size: smaller;
	display: none;
}

.successMsg {
	color: rgb(0, 158, 18);
	margin-top: 10px;
	font-size: smaller;
	display: none;
}

.turma1-nota input,
.turma2-nota input {
	border: none;
	border-bottom: 1px solid #003c4a;
	width: 50px;
}
/*media query: responsividade*/
@media screen and (max-width: 1024px) {
	/*menu lateral*/
	aside {
		width: 15px;
	}
	nav {
		align-items: center;
	}
	nav ul,
	nav p {
		display: none;
	}
	.logoEscola {
		width: 47px;
	}

	.divEspaco {
		display: block;
		height: 100%;
	}

	#navIconOpen {
		display: block;
		color: #001219;
		background-color: #ee9b00;
		margin: 0;
		padding: 0;
		width: auto;
		position: relative;
		bottom: 10px;
	}

	#navIconClose {
		color: #001219;
		background-color: #ee9b00;
		margin: 0;
		padding: 0;
		width: auto;
	}

	#logoutBtn{
		display: none;
	}

	#navIconOpen:hover,
	#navIconClose:hover {
		color: #003c4a;
	}

	/*Seção principal*/
	main {
		padding: 12px;
		margin-left: 50px;
	}
	/*Cards*/
	.flexCard {
		flex-direction: column;
	}

	h4,
	label,
	.titleGrid,
	.titleList
	.descriptionOpt,
	.containerGrid2 p,
	.containerGrid3 p,
	.containerGrid5 p,
	.forumSection p,
	.forumSection a,
	.forumSection h5,
	.h1-centralizado,
	.containerGrid3 h1{
		font-size: smaller;
	}

	.cardFull {
		max-width: 359px;
	}

	.containerGrid5 {
		overflow-x: auto;
		justify-content: normal;
	}
	/*form*/
	.modal-content {
		border-radius: 5px;
		margin: 0 auto ;
	}
}


/*coisas diversas*/
.opcoesAgendamento {
	display: inline-block;
	font: 18px;
}

.box {
	border-radius: 7px;
	border: solid;
	border-style: groove;
}

::placeholder{
	text-align: center;
}

.botaoLado {
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	justify-content: space-around;
}



