/*estilo do conteudo e forum */
ul {
	list-style-type: none;
	padding: 0;
}
.disciplinaTitulo {
	font-size: 16px;

	background-color: #dbe9e4;
	padding: 15px 8px;
	border-radius: 10px;
}

.infodisciplina {
	padding-left: 0px;
	line-height: 2;
}

.forumSection a,
.forumSection p,
.sectionConteudo a {
	text-decoration: none;
	color: #001219;
}

.forumSection span {
	font-size: 12px;
}

.infodisciplina {
	margin-left: 15px;
	display: flex;
	flex-direction: column;
}

.infodisciplina:hover {
	color: #003c4a;
	max-width: fit-content;
	cursor: pointer;
}

/*estilo do form*/
fieldset {
	border: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.errorMsg {
	color: rgb(158, 0, 0);
	margin-top: 10px;
	font-size: smaller;
	display: none;
}

/*estilo aplicado em cada card*/

.containerGrid3 {
	justify-content: space-evenly;
}

.titleList {
	background-color: #dbe9e4;
	padding: 15px 5px;
	border-radius: 10px;
	font-weight: bold;
}

.turma1-presenca,
.turma2-presenca,
.turma1-nota,
.turma2-nota {
	margin-top: 15px;
	width: 75%;
	margin: 10px auto 25px;
	display: none;
}

.turma1-presenca div,
.turma2-presenca div,
.turma1-nota div,
.turma2-nota div {
	display: flex;
	justify-content: space-between;
}

ul .titleList {
	margin-bottom: 10px;
}

ul .titleList:hover {
	cursor: pointer;
	text-decoration: underline;
}

.turma1-nota input,
.turma2-nota input {
	border: none;
	border-bottom: 1px solid #003c4a;
	width: 50px;
}

/*coisas diversas*/
.opcoesAgendamento {
	display: inline-block;
	font: 18px;
}

.box {
	border-radius: 7px;
	border: solid;
	border-style: groove;
}

::placeholder {
	text-align: center;
}

.botaoLado {
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	justify-content: space-around;
}
