/*estilo aplicado em cada card*/
.cardFull {
	max-width: 960px;
	text-align: center;
}

.containerGrid3 {
	column-gap: 2rem;
	justify-content: center;
}

.resultadoNota p {
	margin: 0;
}

.searchbar-label {
	display: block;
}

input[type="text"] {
	width: 100%;
	padding: 0.8rem 0.5rem;
	background-color: #ffffff;
	border: none;
	outline: 2px solid #f1ab2a;
	color: #818181;
}

input[type="text"]:focus {
	border: none;
	outline-color: #f3414e;
}

.searchbar {
	max-width: 25rem;
	margin-bottom: 1rem;
}

.search-results {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
	text-align: left;
}

.search-results-item {
	padding: 1rem;
	border-radius: 0.8rem;
	animation: fadeIn 0.5s ease-in-out;
}

.search-item {
	display: block;
	margin-bottom: 1rem;
}

.search-item:last-child {
	margin-bottom: 0;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.title {
	font-family: "Kaushan Script", cursive;
	font-size: 10rem;
	margin: 4rem 0 2.5rem;
}

@media screen and (min-width: 2000px) {
	html {
		font-size: 92.5%;
	}
}

.respondida {
	font-size: 16px;
	background-color: #001219;
	padding: 15px 8px;
	border-radius: 10px;
	color: white;
}

.aguardando {
	font-size: 16px;
	background-color: #001219;
	padding: 15px 8px;
	border-radius: 10px;
	color: white;
}

.atraso {
	font-size: 16px;
	background-color: #001219;
	padding: 15px 8px;
	border-radius: 10px;
	color: white;
}

.atraso {
	font-size: 16px;
	background-color: #001219;
	padding: 15px 8px;
	border-radius: 10px;
	color: white;
}

.forumSection a,
.forumSection p,
.sectionConteudo a {
	text-decoration: none;
	color: #001219;
}

.infodisciplina {
	margin-left: 15px;
	padding-left: 0px;
	line-height: 2;
	display: flex;
	flex-direction: column;
}

.infodisciplina:hover {
	color: #003c4a;
	max-width: fit-content;
	cursor: pointer;
}




